:root {
    --section-background: linear-gradient (to bottom, #ff0000, #00ff00, #0000ff);
    /**/
    --section-border-color: #ddd;
    /**/
    --item-background-color: #8b45e0;
    /**/
    --body-background-color: #f5f5f5;
    /**/
    --item-color: #fff;
    /**/
    --flex-container-border-color: #999;
    /**/
    --container-background: aliceblue;
    /**/
    --descricao-color: #555;
}

img{
    width: 200px;
    border-radius: 20px;
    justify-content: center;
    display: block;
    margin: 0 auto;
    padding-bottom: 10px;

}

.container-pai{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;

}

.container{
    background: var(--container-background);
    border: 1px solid #2476da;
    border-radius: 8px;
    padding: 16px;
    margin: 10px 10px;
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);

}

h1{
    text-align: center;
    padding-top: 25px;
}

p{
    padding-top: 10px;
}