body {
    font-family: Arial, sans-serif;
    background: #f5f9f9;
    color: #333;
    margin: 1;
    padding: 10px;
}

.faq-section {
    max-width: 700px;
    margin: auto;
    background: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.faq-section h1 {
    text-align: center;
    color: #006699;
    margin-bottom: 20px;
}

.faq-item {
    margin-bottom: 15px;
}

.faq-question {
    width: 100%;
    background: #006699;
    color: white;
    border: none;
    padding: 15px;
    text-align: left;
    font-size: 18px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.faq-question:hover,
.faq-question.active {
    background: #004466;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    background: #eaf4f9;
    padding: 0 15px;
    font-size: 16px;
    border-radius: 0 0 5px 5px;
    transition: max-height 0.3s ease;
    margin-top: 5px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


nav {
    background-color: white;
    box-shadow: 3px 3px 5px rgb(0, 0, 0, 0.1);
}
.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgb(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgb(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.sidebar li {
    width: 100%;
}

.sidebar a {
    width: 100%;
}

.menu-button {
    display: none;
}
