:root {
    --section-background: linear-gradient (to bottom, #ff0000, #00ff00, #0000ff);
    /**/
    --section-border-color: #ddd;
    /**/
    --item-background-color: #8b45e0;
    /**/
    --body-background-color: #f5f5f5;
    /**/
    --item-color: #fff;
    /**/
    --flex-container-border-color: #999;
    /**/
    --container-background: aliceblue;
    /**/
    --descricao-color: #555;
}

h2{
    font-family: 'montserrat', sans-serif;
    font-size: 28px;
    color: #000;
    padding-bottom: 10px;
}

p{
 font-family: 'open sans', sans-serif;
 font-size: 14px;
 color: #000;
 line-height: 2;
}

li{
    font-family: 'open sans', sans-serif;
    font-size: 14px;
    color: #000;
    line-height: 2;
}

ul{
     padding-left: 20px;
     text-align: left;
}

ol{
      padding-left: 20px;
     text-align: left;

}
body{
    margin: 0;
    padding: 0;
    background: #ffffff;
}

.home{
    cursor: pointer;
   color: inherit #000;
}

a:visited{
    color: #000;
}

.flex-container {
     
    background: var(--container-background);
    border: 1px solid #2476da;
    border-radius: 8px;
    padding: 16px;
    margin: 50px 30px;
    
}


.item {
     background:#5dd0ec85;
    border: 1px solid #5dd0ec85;
    border-radius: 8px;
    padding: 16px;
     margin: 50px 30px;
     width: 600px;
    
}

.section-1{
    display: flex;
    flex-direction:row;
    justify-content: space-around;
    gap: 20px;
}

img{
    width: 500px;
    border-radius: 8px;
}

.imagem{
 display: flex;
   justify-content: center;
   align-items: center;
     flex-direction: column;
    text-align: center;
}