  body {
    font-family: 'Courier New', Courier, monospace;
    margin: 20px auto;
    max-width: 800px;
    line-height: 1.6;
    background: #f9f9f9;
    color: #333;
   padding: auto;
  }
  h1 {
    text-align: center;
    color: #2a6ea6;
    margin-bottom: 20px;
  }
  h2 {
    color: #2a6ea6;
    margin-top: 30px;
  }
  p {
    margin-bottom: 20px;
  }
 